*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.667;
  font-weight: 400;
  letter-spacing: 0.06rem;
  color: #FFFFFF;
  font-family: "Forum", sans-serif;
}
@media (max-width: 650px) {
  h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.06rem;
  }
}

h2 {
  font-family: "Forum", sans-serif;
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 650px) {
  h2 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.02rem;
  }
}

h2:after {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  background: #0C0C0E;
  margin: 20px auto 0;
}

h3 {
  color: #000000;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.667;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: #000000;
}

.btn {
  color: #0c0c0e;
  font-family: var(--font-family-basic);
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 21px;
  background: #fff;
  margin-left: 18px;
}

.btn.active:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.btn.btn__own {
  border: 1px solid #bb945f;
  padding: 6px 19px;
  color: #bb945f;
}

.hidden {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1424px) {
  .container {
    max-width: 1424px;
  }
}
@media (max-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 650px;
  }
}
@media (max-width: 492px) {
  .container {
    max-width: 492px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

.header__container {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  background: #0C0C0E;
}
@media (max-width: 767px) {
  .header__container {
    gap: 2rem;
  }
}

.logo {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.nav__panel {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
@media (max-width: 1424px) {
  .nav__list {
    display: none;
  }
}

.nav__panel a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 250%;
}

.user-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 31px;
  right: 31px;
  background: rgb(88, 249, 88);
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.nav-item {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 250%;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.welcome__container {
  background-image: url("../images/welcome-photo.jpg"), linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome__text {
  padding: 220px 0 160px;
}
.welcome__text h2 {
  color: #fff;
  text-align: center;
  font-family: "Forum", sans-serif;
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  padding: 0 100px;
  background: #0c0c0e;
  max-width: 600px;
  height: 220px;
  display: flex;
  align-items: center;
}

.about__container {
  padding: 20px 20px 0 20px;
}
@media (max-width: 492px) {
  .about__container {
    padding: 20px 0;
  }
}

.about__description {
  color: #000;
  margin: 40px 0 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}

.slider__container {
  position: relative;
}
@media (max-width: 1260px) {
  .slider__container {
    width: 614px;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .slider__container {
    width: 100%;
    margin: 0 auto;
  }
}

.slider__window {
  overflow: hidden;
}
@media (max-width: 1424px) {
  .slider__window {
    width: 925px;
    margin: 0 auto;
  }
}
@media (max-width: 1260px) {
  .slider__window {
    width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 492px) {
  .slider__window {
    width: 300px;
    margin: 0 auto;
  }
}

.slider__track {
  display: flex;
  gap: 25px;
  transition: transform 0.7s;
}
@media (max-width: 492px) {
  .slider__track {
    gap: 15px;
  }
}

.slider__card {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
}
.slider__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 492px) {
  .slider__card {
    width: 300px;
    height: 400px;
  }
}

.slider__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 20px;
}
.slider__pagination ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.slider__pagination ul li {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 5px;
  background: #000;
  cursor: pointer;
}
.slider__pagination ul li.selected {
  background: #bb945f;
  border-color: #bb945f;
}
@media (max-width: 650px) {
  .slider__pagination {
    margin: 20px 0 0;
  }
}

.slider__dot-4,
.slider__dot-5 {
  display: none;
}

@media (max-width: 1424px) {
  .slider__dot-4 {
    display: list-item;
  }
}

@media (max-width: 1260px) {
  .slider__dot-5 {
    display: list-item;
  }
}

.arrow {
  display: none;
}
@media (max-width: 1260px) {
  .arrow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 650px) {
  .arrow {
    display: none;
  }
}

@media (max-width: 1260px) {
  .arrow-left {
    left: 0;
    transform: translateX(50%);
  }
}

@media (max-width: 1260px) {
  .arrow-right {
    right: 0;
    transform: translateX(-50%);
  }
}

.favorites__container {
  padding: 20px 20px 40px;
}

.parent-sticky {
  position: relative;
  overflow: visible;
  height: 100%;
  width: 100%;
  padding-top: 40px;
}

.sticky-child {
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.selection__container {
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 90px;
}
@media (max-width: 767px) {
  .selection__container {
    gap: 35px;
  }
}
@media (max-width: 650px) {
  .selection__container {
    flex-direction: column;
    gap: 12px;
    padding: 20px 0;
  }
}

.radio-button__container {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.radio__item {
  accent-color: #000000;
  width: 17px;
  height: 17px;
  margin: 5px;
  cursor: pointer;
}

.radio__item:first-child {
  margin-left: 0;
}

.season {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0rem;
  padding-left: 17px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .season {
    padding-left: 8px;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0rem;
  }
}

input[type=radio]:checked + label {
  text-shadow: 1px 0px 0px black;
  transition: 0.3s text-shadow;
}

.books-carousel {
  width: 100%;
}

.season-slide {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
@media (max-width: 1260px) {
  .season-slide {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .season-slide {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.book__wrapper {
  position: relative;
  width: 590px;
  max-width: 590px;
  height: 555px;
}
@media (max-width: 650px) {
  .book__wrapper {
    max-width: 610px;
    height: auto;
  }
}
@media (max-width: 492px) {
  .book__wrapper {
    max-width: 452px;
  }
}
@media (max-width: 320px) {
  .book__wrapper {
    max-width: 290px;
  }
}

.book__content__container {
  display: flex;
  max-width: 550px;
  height: 100%;
  flex-direction: column;
  border: 1px solid #000000;
  background: #fff;
  flex-shrink: 1;
  box-sizing: border-box;
}
@media (max-width: 492px) {
  .book__content__container {
    width: 100%;
  }
}

.book__content {
  width: 550px;
  height: 555px;
  padding-left: 20px;
  margin-left: -1px;
  flex-shrink: 1;
}
@media (max-width: 492px) {
  .book__content {
    width: 100%;
    height: auto;
  }
}

.staff {
  font-family: var(--font-family-headers);
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 12px;
}

.staff:after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin-bottom: 20px;
}

.book__title {
  text-transform: uppercase;
}

.book__description {
  font-size: 1.5rem;
  line-height: 2.667;
  font-weight: 400;
  letter-spacing: 0.02rem;
  display: block;
  width: 355px;
  text-transform: capitalize;
  margin-top: 20px;
}
@media (max-width: 650px) {
  .book__description {
    max-width: 350px;
    font-size: 1.3rem;
    line-height: 2.5;
    font-weight: 400;
    letter-spacing: 0.02rem;
  }
}
@media (max-width: 492px) {
  .book__description {
    width: 100%;
    max-width: 100%;
  }
}

.book__photo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 300px;
}
.book__photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 492px) {
  .book__photo {
    display: none;
  }
}

.small_space {
  letter-spacing: 1.5px;
}

.coffee__shop {
  max-width: 1440px;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 0 auto;
}

.shop__description {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.shop__description p {
  margin: 19px auto;
  padding: 0 18px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  box-sizing: border-box;
  /* text-transform: capitalize; */
}

.lowercase {
  text-transform: lowercase;
}

.menu {
  max-width: 1440px;
  margin: 0 auto;
  /* margin-top: 20px;
  margin-bottom: 60px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 22px 15px 38px 20px; */
  padding-left: 20px;
  /* box-sizing: border-box; */
}

.menu__list.deserts {
  padding-right: 5px;
}

.menu__title {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__title.deserts,
.menu__item.deserts {
  text-align: right;
}

.menu__item.deserts {
  margin-right: -3px;
}

.menu__title.deserts {
  padding-right: 5px;
}

.menu__item.deserts:last-child {
  margin-right: -5px;
}

.menu__container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.menu__item,
.menu__price {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.menu__price {
  padding-right: 5px;
}

.menu__item:last-child,
.menu__price:last-child {
  margin-bottom: 0;
}

.menu__price {
  font-family: var(--font-family-headers);
}

.menu__price:before {
  position: relative;
  top: 50%;
  width: 100px;
  content: "";
  display: inline-block;
  height: 1px;
  background: #0c0c0e;
  margin: 0 60px;
  vertical-align: middle;
}

.contacts {
  max-width: 1440px;
  margin: 20px auto;
}

.contacts__container {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 20px 37px 20px;
}

.contact__title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__inquiries p,
.contact__staff p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
}

.contact__staff {
  margin-top: 40px;
}

.contact__staff p {
  padding-top: 0;
}

.contacts p a {
  text-decoration: none;
  color: #000;
}

.contacts p a:hover {
  color: #7d4802;
  text-decoration: underline;
}

.director {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.map {
  width: 100%;
}

.digital-card {
  max-width: 1440px;
  margin: 0 auto;
}

.digital-card__container {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  justify-content: space-between;
  /* gap: 344px; */
}

.digital-card__left-item {
  width: 600px;
  padding-top: 2px;
}

.left-item__title {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: center;
}

.library-card {
  width: 600px;
  height: 386px;
  margin-top: 30px;
  border: 3px solid #bb945f;
  box-sizing: border-box;
}

.inp__container {
  background: #bb945f;
  margin: 20px;
  padding: 15px 15px 6px 15px;
}

.left__title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  padding-left: 4px;
  padding-top: 3px;
}

.card__input {
  display: block;
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  margin: 22px auto;
  border-radius: 10px;
  width: 520px;
  height: 66px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
}

.check__card__btn {
  /* display: block; */
  margin: 0 auto;
  color: #0c0c0e;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 41px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  margin-top: -3px;
}

.check__card__btn:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
  transition: 0.2s;
}

.digital-card__right-block {
  width: 456px;
  text-align: right;
  padding-top: 2px;
}

.right__title {
  color: #000;
  margin-top: -3px;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  padding-bottom: 28px;
}

.digital-card__right-block p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4px;
  margin-bottom: 40px;
  padding-top: 2px;
}

.card__buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}

.right__card__button {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #fff;
}

.right__card__button:last-child {
  margin-left: 15px;
}

.right__card__button:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
  transition: 0.2s;
}

.card__details {
  display: flex;
  justify-content: center;
  gap: 35px;
  display: none;
}

.card__icon {
  width: 27px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .closed {
  display: none;
}

.open {
  display: block;
} */
.open-icons {
  display: flex;
}

.footer__container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background: #0c0c0e;
  color: #fff;
  margin-top: 21px;
}

.footer__top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.footer__top__icons ul {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  padding-bottom: 30px;
  list-style: none;
}

.footer__top__icons img:hover {
  opacity: 0.75;
}

.footer__top__top {
  display: flex;
  justify-content: space-between;
}

.footer__top__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.schedule {
  text-align: end;
  padding-top: 1px;
  padding-top: -2px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  margin: 35px 0 15px 0;
}

.school__name {
  margin-left: 145px;
}

.footer__bottom a,
.footer__top a {
  text-decoration: none;
  color: #fff;
}

.footer__bottom a:hover,
.footer__top a:hover {
  text-decoration: underline;
  color: rgb(222, 184, 135);
}

.registration,
.profile {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 50;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
}

.drop-registration-content,
.drop-profile-content {
  width: 80px;
  height: 115px;
  background: #fff;
  position: relative;
  top: 60px;
  right: 31px;
  text-align: center;
}

.registration.open-form,
.profile.open-form {
  visibility: visible;
  opacity: 1;
}

.registration p,
.profile p {
  font-size: 15px;
  font-weight: 700;
  line-height: 133.333%;
  margin: 5px 0;
}

.line {
  margin: 0 auto;
  width: 40px;
  height: 1px;
  background: #bb945f;
  margin-bottom: 15px;
}

.reg-btn,
.log-btnInRegPopup {
  background: none;
  border: none;
  margin-bottom: 10px;
  font-family: var(--font-family-basic);
}

/* modal Register */
.reg-form {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.registration-modal-content {
  width: 250px;
  height: 382px;
  position: relative;
  background: #fff;
  padding: 20px 25px;
  transform: scale(0);
  transition: transform 0.8s;
}

.reg-form.open-form {
  visibility: visible;
  opacity: 1;
}

.reg-form.open-form .registration-modal-content {
  transform: scale(1);
}

.close,
.login-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  line-height: 100%;
  cursor: pointer;
}

.closed {
  display: none;
}

.open {
  display: block;
}

.close:hover,
.close:focus,
.login-close:hover,
.login-close:focus {
  background: red;
}

.form-title {
  font-size: 20px;
  font-family: var(--font-family-headers);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 18px;
  text-align: center;
}

.welcome input[type=text],
.welcome input[type=password],
.welcome input[type=email] {
  display: block;
  border: 1px solid #bb945f;
  margin: 10px 0;
  height: 20px;
  width: 200px;
  margin-bottom: 9px;
}

.signupLoginBtn,
.loginLoginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  /* padding: 10px 0; */
  cursor: pointer;
  font-size: 10px;
  color: #0c0c0e;
  font-family: var(--font-family-basic);
  margin-bottom: 5px;
}

.loginLoginBtn {
  margin-top: 20px;
}

.signupLoginBtn:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.loginBtn {
  background: none;
  border: none;
  text-decoration: underline;
  height: 10px;
  font-weight: 700;
  /* padding: 2px; */
  font-family: var(--font-family-basic);
  font-size: 10px;
  /* margin-bottom: 10px; */
  cursor: pointer;
}

.form-p {
  font-size: 10px;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  display: inline;
}

.login-form {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.login-modal-content {
  width: 250px;
  height: 262px;
  position: relative;
  /* margin: 0 auto; */
  background: #fff;
  padding: 20px 25px;
  transform: scale(0);
  transition: transform 0.8s;
}

.login-form.open-form {
  visibility: visible;
  opacity: 1;
}

.login-form.open-form .login-modal-content {
  transform: scale(1);
}

.burger__btn {
  position: relative;
  width: 46px;
  height: 20px;
  background-color: #000;
  border: none;
  outline: none;
  display: none;
}
@media (max-width: 1424px) {
  .burger__btn {
    display: flex;
  }
}

.burger__line {
  height: 2px;
  width: 45px;
  background-color: #FFFFFF;
  position: absolute;
}

.burger__line:nth-child(1) {
  top: 0;
  left: 0;
}

.burger__line:nth-child(2) {
  top: 10px;
  left: 0;
}

.burger__line:nth-child(3) {
  top: 20px;
  left: 0;
}

.buy-form {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.buy-content {
  width: 640px;
  height: 540px;
  position: relative;
  background: #fff;
  transform: scale(0);
  transition: transform 0.8s;
}

.buy-form.open-form {
  visibility: visible;
  opacity: 1;
}

.buy-form.open-form .buy-content {
  transform: scale(1);
}

.close-buy-form {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 2;
}

.buy-form-header {
  height: 60px;
  background: #0c0c0e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.buy-form-title {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: var(--font-family-headers);
  font-weight: 400;
}

.buy-colomns {
  display: flex;
  gap: 40px;
}

.buy-left {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.buy__label {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}

.buy-form input[name=bank],
.buy-form input[name=place],
.buy-form input[name=postal],
.buy-form input[name=cardholder] {
  display: block;
  border: 1px solid #bb945f;
  margin-bottom: 7px;
  width: 200px;
  height: 20px;
  margin-top: 10px;
}

.double-input {
  display: flex;
  gap: 10px;
}

.buy-form input[name=month],
.buy-form input[name=year],
.buy-form input[name=cvc] {
  width: 45px;
  height: 20px;
  display: block;
  border: 1px solid #bb945f;
  margin-bottom: 8px;
  margin-top: 10px;
}

.buy-form input[name=cvc] {
  margin-bottom: 23px;
}

.buy-right {
  width: 330px;
}

.buy-right-p {
  color: #8e8e8e;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.buy__card__price {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  margin-top: 15px;
}

.buy-card-btn {
  color: #0c0c0e;
  font-family: var(--font-family-basic);
  font-size: 10px;
  height: 30px;
  width: 75px;
  font-weight: 700;
  padding: 0;
  letter-spacing: 1px;
  border: 1px solid black;
  border-radius: 2px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-card-btn.active:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.buy-card-btn.btn__own {
  border: 1px solid #bb945f;
  padding: 6px 19px;
  color: #bb945f;
}

.buy__price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profile-form-modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.profile-card-content {
  width: 600px;
  height: 400px;
  position: relative;
  background: #fff;
  transform: scale(0);
  transition: transform 0.8s;
}

.profile-form-modal.open-form {
  visibility: visible;
  opacity: 1;
}

.profile-form-modal.open-form .profile-card-content {
  transform: scale(1);
}

.profile__content {
  display: flex;
  height: 100%;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 100%;
  padding: 25px;
  gap: 15px;
  background: #0c0c0e;
}

.profile__initials {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  color: #bb945f;
  margin-left: 8px;
}

.profile__card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile__full-name {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  background-color: #ffffff;
  margin-left: 8px;
  width: 120px;
}

.profile__info {
  width: 430px;
  height: 100%;
  padding: 40px 21px;
  background-color: #ffffff;
}

.profile__heading {
  margin-bottom: 40px;
  font-family: var(--font-family-headers);
  font-size: 40px;
  font-weight: 400;
  line-height: 0.5;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.profile__list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile__name {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.profile__quantity {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.profile__books-heading {
  margin-bottom: 30px;
  color: #0c0c0e;
  font-size: 25px;
  font-weight: 400;
  line-height: 0.8;
}

.taken__book {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.profile__books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 380px;
  height: 50px;
  margin-bottom: 40px;
  padding-left: 20px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  list-style: disc;
  overflow: auto;
  margin-left: 10px;
}

.profile__card-heading {
  color: #0c0c0e;
  font-weight: 400;
  line-height: 1;
  font-size: 20px;
  font-style: normal;
}

.profile__number {
  font-weight: 400;
  line-height: 1;
  color: #bb945f;
  font-size: 20px;
}

.profile-modal__close-button {
  position: absolute;
  top: 21px;
  right: 19px;
}/*# sourceMappingURL=style.css.map */