*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-family-headers: 'Forum', cursive;
  --font-family-basic: 'Inter', sans-serif;
}

body {
  /* max-width: 1440px; */
  margin: 0 auto;
  font-family: var(--font-family-basic);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* #region header-welcome */

.welcome {
  max-width: 1440px;

  background-image: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url('./images/welcome-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.welcome__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.top__panel {
  display: flex;

  justify-content: space-between;
  padding: 20px;
  padding-right: 90px;
  background: #0c0c0e;
}

h1 {
  color: #fff;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}

.nav__panel a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 250%;
}

/* .logo__container {
  position: relative;
  
} */

.logo {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 31px;
  right: 31px;
}

.welcome__text {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 600px;
  margin-top: 220px;
  padding: 35px 40px;
  margin-bottom: 160px;
  background: #0c0c0e;
}

.nav-item {
  color: #fff;
  font-size: 20px;
  line-height: 250%;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.burger__btn {
  position: relative;
  width: 46px;
  height: 40px;
  background-color: #000;
  border: none;
  outline: none;
  display: none;
}

/* #endregion */

/* #region about */
.about {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}
h2 {
  color: #0c0c0e;
  font-family: var(--font-family-headers);
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  /* margin-bottom: 20px; */
}

h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 20px auto;
}

.about__description {
  color: #000;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  margin-top: 20px;
}



.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0 auto;
  /* margin-top: 20px; */
  margin-bottom: 36px;
  max-height: 560px;
  gap: 25px;
  padding: 0 20px;
}

.carousel__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* margin-top: 40px; */
  max-width: 68px;
  overflow: hidden;
  cursor: pointer;
}

.carousel__dot {
  width: 26px;
  height: 26px;
  padding: 5px;
  transition: background-color 0.6s ease;
}

.carousel__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  display: block;
}

.carousel__item.selected {
  background: #bb945f;
}

.controls {
  display: none;
}

/* #endregion */
/* #region favorites */

.favorites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  max-width: 1440px;
  margin: 18px auto;
  margin-bottom: 60px;
  padding-top: 39px;
}

/* .favorites__name {
  max-width: 100%;
} */

.hidden {
  display: none;
}

h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.selection {
  padding: 19px 0 40px 20px;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1440px;
  box-sizing: border-box;
}

.selection__container {
  /* margin: 0 auto; */
  margin-top: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 90px;
}

.radio__button__container {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.radio__item {
  accent-color: #000000;
  width: 17px;
  height: 17px;
  margin: 5px;
  cursor: pointer;
}

.radio__item:first-child {
  margin-left: 0;
}

.season {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  padding-left: 17px;
  cursor: pointer;
}

input[type='radio']:checked + label {
  text-shadow: 1px 0px 0px black;
  transition: 0.3s text-shadow;
}

.books {
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 220px;
  padding: 0 19px;
  justify-content: center;
  margin: 0;
}

.staff {
  font-family: var(--font-family-headers);
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 12px;
}

.staff:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
}

.book {
  max-width: 590px;
  max-height: 555px;
  display: flex;
  box-sizing: border-box;
}

.book__name {
  text-transform: uppercase;
}

.book__content__container {
  display: flex;
  max-width: 555px;
  /* max-width: 548px; */
  flex-direction: column;
  border: 1px solid #000;
  background: #fff;
  flex-shrink: 1;
  box-sizing: border-box;
}

.book__content {
  width: 550px;
  height: 555px;
  padding-left: 20px;
  margin-left: -1px;
  flex-shrink: 1;
}

.book__description {
  display: block;
  width: 355px;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}

.small_space {
  letter-spacing: 1.5px;
}

.btn {
  color: #0c0c0e;
  font-family: var(--font-family-basic);
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 21px;
  background: #fff;
  margin-left: 18px;
}

.btn.active:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.btn.btn__own {
  border: 1px solid #bb945f;
  padding: 6px 19px;
  color: #bb945f;
}

.book__photo {
  position: relative;
  top: 254px;
  right: 160px;
  width: 200px;
  height: 300px;
}

/* #endregion */
/* #region coffe shop */

.coffee__shop {
  max-width: 1440px;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 0 auto;
}

.shop__description {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.shop__description p {
  margin: 19px auto;
  padding: 0 18px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  box-sizing: border-box;
  /* text-transform: capitalize; */
}

.lowercase {
  text-transform: lowercase;
}

.menu {
  max-width: 1440px;
  margin: 0 auto;
  /* margin-top: 20px;
  margin-bottom: 60px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 22px 15px 38px 20px; */
  padding-left: 20px;
  /* box-sizing: border-box; */
}

.menu__list.deserts {
  padding-right: 5px;
}

.menu__title {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__title.deserts,
.menu__item.deserts {
  text-align: right;
}

.menu__item.deserts {
  margin-right: -3px;
}

.menu__title.deserts {
  padding-right: 5px;
}

.menu__item.deserts:last-child {
  margin-right: -5px;
}

.menu__container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.menu__item,
.menu__price {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.menu__price {
  padding-right: 5px;
}

.menu__item:last-child,
.menu__price:last-child {
  margin-bottom: 0;
}

.menu__price {
  font-family: var(--font-family-headers);
}

.menu__price:before {
  position: relative;
  top: 50%;
  width: 100px;
  content: '';
  display: inline-block;
  height: 1px;
  background: #0c0c0e;
  margin: 0 60px;
  vertical-align: middle;
}

/* #endregion */
/* #region contacts */

.contacts {
  max-width: 1440px;
  margin: 20px auto;
}

.contacts__container {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 20px 37px 20px;
}

.contact__title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__inquiries p,
.contact__staff p {
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
}

.contact__staff {
  margin-top: 40px;
}

.contact__staff p {
  padding-top: 0;
}

.contacts p a {
  text-decoration: none;
  color: #000;
}

.contacts p a:hover {
  color: #7d4802;
  text-decoration: underline;
}

.director {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.map {
  width: 100%;
}
/* #endregion */

/* #region digital-card */

.digital-card {
  max-width: 1440px;
  margin: 0 auto;
}

.digital-card__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  justify-content: space-between;
  /* gap: 344px; */
}

.digital-card__left-item {
  width: 600px;
  padding-top: 2px;
}

.left-item__title {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: center;
}

form {
  width: 600px;
  height: 386px;
  margin-top: 30px;
  border: 3px solid #bb945f;
  box-sizing: border-box;
}

.inp__container {
  background: #bb945f;
  margin: 20px;
  padding: 15px 15px 6px 15px;
}

.left__title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  padding-left: 4px;
  padding-top: 3px;
}

.card__input {
  display: block;
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  margin: 22px auto;
  border-radius: 10px;
  width: 520px;
  height: 66px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
}

.check__card__btn {
  display: block;
  margin: 0 auto;
  color: #0c0c0e;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 41px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  margin-top: -3px;
}

.check__card__btn:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
  transition: 0.2s;
}

.digital-card__right-block {
  width: 456px;
  text-align: right;
  padding-top: 2px;
}

.right__title {
  color: #000;
  margin-top: -3px;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  padding-bottom: 28px;
}

.digital-card__right-block p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
  padding-top: 2px;
}

.right__card__button {
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 4px;
  font-style: normal;
  font-weight: 700;

  letter-spacing: 1px;
  padding: 4px 0;
  width: 76px;
  background: #fff;
  margin-top: 10px;
}

.right__card__button:last-child {
  margin-left: 15px;
}
.right__card__button:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
  transition: 0.2s;
}

/* #endregion */
/* #region footer */
.footer__container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background: #0c0c0e;
  color: #fff;
  margin-top: 21px;
}

.footer__top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.footer__top__icons ul {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  padding-bottom: 30px;
  list-style: none;
}

.footer__top__icons img:hover {
  opacity: 0.75;
}
.footer__top__top {
  display: flex;
  justify-content: space-between;
}
.footer__top__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.schedule {
  text-align: end;
  padding-top: 1px;
  padding-top: -2px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  margin: 35px 0 15px 0;
}

.school__name {
  margin-left: 145px;
}

.footer__bottom a,
.footer__top a {
  text-decoration: none;
  color: #fff;
}

.footer__bottom a:hover,
.footer__top a:hover {
  text-decoration: underline;
  color: rgb(222, 184, 135);
}

/* #endregion */

@media screen and (max-width: 1025px) {
  .wrapper,
  .welcome,
  .favorites,
  .coffee__shop {
    max-width: 768px;
    overflow: hidden;
    transition: width 0.7s ease-in-out;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 332px;
    top: 90px;
    right: -100%;
    background: #000;
    visibility: hidden;
    transition: 1s, 1s opacity, 1s transform;
    will-change: transform;
  }

  .burger__btn {
    display: block;
    border: 0;
    width: 46px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 35px;
    /* background-image: url('./images/burger.svg'); */
    background-repeat: no-repeat;
    background-size: 45px 20px;
    cursor: pointer;
  }

  .burger__btn span {
    position: absolute;
    width: 46px;
    height: 3px;
    background-color: #fff;
    right: 0;
    transition: background-color 0.2s, opacity 0.3s, transform 0.5s;
    will-change: transform;
  }

  .burger__btn span:nth-child(1) {
    transform: translateY(-10px);
  }

  .burger__btn span:nth-child(3) {
    transform: translateY(10px);
  }

  /* hrestik */

  .header.open .burger__btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .burger__btn span:nth-child(2) {
    opacity: 0;
  }

  .header.open .burger__btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .logo {
    position: absolute;
    right: 105px;
    top: 31px;
  }

  .about__description {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header.open .nav__list {
    right: 0;
    visibility: visible;
  }

  /* #region favoritesM */

  .favorites {
    margin-bottom: 39px;
  }

  .slider__container {
    margin: 20px 100px;
    display: block;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .carousel {
    /* height: 606px; */
    overflow: hidden;
    position: relative;
    max-width: 1024px;
    max-width: 568px;
    border: 1px solid green;
  }

  .slider {
    height: 100%;
    display: flex;
    width: 500%;
    transition: all 0.3s;
    /* overflow: hidden; */
    margin-bottom: 20px;
  }

  .slider article {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .controls {
    display: block;
  }

  .controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .arrow.right {
    right: 0;
  }

  .carousel__list {
    display: flex;
    justify-content: center;
    overflow: visible;
  }

  .carousel__dot {
    width: 26px;
    height: 26px;
    padding: 5px;
  }

  .carousel__item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    display: block;
  }

  .carousel__item.selected {
    background: #bb945f;
  }

  .book {
    margin-bottom: 20px;
  }

  .books {
    gap: 20px 10px;
  }

  .book:last-child {
    margin-bottom: 0;
  }

  /* endregion favoritesM */

  .coffee-shop {
    margin-bottom: 60px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .menu__list.deserts {
    margin-top: 40px;
    align-self: flex-end;
  }

  .menu__item.deserts {
    margin-right: -3px;
  }

  .menu__title.deserts {
    padding-right: 5px;
  }

  .menu__list.deserts {
    padding-right: 15px;
  }

  .contacts {
    margin-top: 40px;
    padding-left: 3px;
    margin-bottom: 19px;
  }
  .contacts__container {
    flex-direction: column;
    gap: 100px;
    padding: 22px 20px 37px;
  }

  .contacts__map {
    max-width: 696px;
    align-self: center;
  }

  .contacts__map img {
    width: 100%;
  }

  .digital-card__container {
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
  }

  .check__card__btn {
    margin-top: -2px;
    letter-spacing: 1.6px;
    padding: 9px 35px;
    padding-left: 38px;
  }

  .digital-card__right-block {
    text-align: center;
    margin-top: 20px;
    width: 600px;
  }

  .digital-card__right-block p {
    text-align: center;
    padding-top: 8px;
    margin-bottom: 30px;
  }

  .school__name {
    /* margin-right: 20px; */
    margin-left: 90px;
  }
}

@media screen and (max-width: 730px) {
  .selection__container {
    flex-wrap: wrap;
    gap: 40px;
  }
}
