*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-family-headers: 'Forum', cursive;
  --font-family-basic: 'Inter', sans-serif;
}

body {
  /* max-width: 1440px; */
  margin: 0 auto;
  font-family: var(--font-family-basic);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* #region header-welcome */

.welcome {
  max-width: 1440px;

  background-image: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url('./images/welcome-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.welcome__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.top__panel {
  display: flex;

  justify-content: space-between;
  padding: 20px;
  padding-right: 90px;
  background: #0c0c0e;
}

h1 {
  color: #fff;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}

.nav__panel a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 250%;
}

.logo {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 31px;
  right: 31px;
  z-index: 10;
  cursor: pointer;
}

.user-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 31px;
  right: 31px;
  background: rgb(88, 249, 88);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.registration,
.profile {
  width: 80px;
  height: 115px;
  background: #fff;
  position: absolute;
  top: 59px;
  right: 31px;
  text-align: center;
  /* display: none; */
}

.registration p,
.profile p {
  font-size: 15px;
  font-weight: 700;
  line-height: 133.333%;
  margin: 5px 0;
}
.line {
  margin: 0 auto;
  width: 40px;
  height: 1px;
  background: #bb945f;
  margin-bottom: 15px;
}

.reg-btn {
  background: none;
  border: none;
  margin-bottom: 10px;
  font-family: var(--font-family-basic);
}



/* modal Register */

.reg-form {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.registration-modal-content {
  width: 250px;
  height: 382px;
  position: relative;
  background: #fff;
  padding: 20px 25px;
  transform: scale(0);
  transition: transform 0.8s;
}

.reg-form.open-form {
  visibility: visible;
  opacity: 1;
}

.reg-form.open-form .registration-modal-content {
  transform: scale(1);
}

.close,
.login-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  line-height: 100%;
  cursor: pointer;
}

.closed {
  display: none;
}

.open {
  display: block;
}

.close:hover,
.close:focus,
.login-close:hover,
.login-close:focus {
  background: red;
}

.form-title {
  font-size: 20px;
  font-family: var(--font-family-headers);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.welcome input[type='text'],
.welcome input[type='password'],
.welcome input[type='email'] {
  display: block;
  border: 1px solid #bb945f;
  margin: 10px 0;
  height: 20px;
}

.signupLoginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  padding: 10px 0;
  cursor: pointer;
  /* font-size: 10px; */
  color: #0c0c0e;
  font-family: var(--font-family-basic);
}

.signupLoginBtn:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.loginBtn {
  background: none;
  border: none;
  text-decoration: underline;
  height: 12px;
  font-weight: 700;
  padding: 2px;
  font-family: var(--font-family-basic);
  font-size: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-p {
  font-size: 10px;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  display: inline;
}

/* end modal Register */
/* start login form */

.login-form {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.login-modal-content {
  width: 250px;
  height: 262px;
  position: relative;
  /* margin: 0 auto; */
  background: #fff;
  padding: 20px 25px;
  transform: scale(0);
  transition: transform 0.8s;
}

.login-form.open-form {
  visibility: visible;
  opacity: 1;
}

.login-form.open-form .login-modal-content {
  transform: scale(1);
}

/* end login form */

/* end form */

.welcome label {
  font-size: 15px;
  line-height: 133.333%;
  letter-spacing: 0.3px;
  text-align: left;
}

.welcome__text {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 600px;
  margin-top: 220px;
  padding: 35px 40px;
  margin-bottom: 160px;
  background: #0c0c0e;
}

.nav-item {
  color: #fff;
  font-size: 20px;
  line-height: 250%;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.burger__btn {
  position: relative;
  width: 46px;
  height: 40px;
  background-color: #000;
  border: none;
  outline: none;
  display: none;
}

@media screen and (max-width: 1025px) {
  .welcome {
    max-width: 768px;
    overflow: hidden;
    transition: 1s ease-in-out;
  }

  .logo {
    position: absolute;
    right: 105px;
    top: 31px;
    z-index: 2;
  }

  .user-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    background: rgb(88, 249, 88);
    right: 105px;
    top: 31px;
    z-index: 2;
  }

  .registration,
  .profile {
    top: 59px;
    right: 105px;
  }

  /* .welcome {
    background-image: linear-gradient(
        180deg,
        #0c0c0e 0%,
        #0c0c0e 0.01%,
        rgba(18, 18, 21, 0.1) 100%
      ),
      url('./images/welcome-tbl-bg.jpg');
  } */

  /* burger */

  .nav__list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 344px;
    top: 0px;
    right: -100%;
    background: #0c0c0e;
    visibility: hidden;
    transition: 1s, 1s opacity, 1s transform;
    /* will-change: transform; */
    line-height: 50px;
    margin-top: 90px;
    padding-top: 12px;
    padding-bottom: 100px;
    padding-right: 11px;
    gap: 29px;
  }

  .burger__btn {
    display: block;
    border: 0;
    width: 46px;
    height: 20px;
    position: absolute;
    right: 22px;
    top: 35px;
    background-repeat: no-repeat;
    background-size: 45px 20px;
    cursor: pointer;
  }

  .burger__btn span {
    position: absolute;
    width: 46px;
    height: 3px;
    background-color: #fff;
    right: 0;
    transition: background-color 0.2s, opacity 0.3s, transform 0.5s;
    will-change: transform;
    z-index: 2;
  }

  .burger__btn span:nth-child(1) {
    transform: translateY(-10px);
  }

  .burger__btn span:nth-child(3) {
    transform: translateY(10px);
  }

  /* krestik */

  .header.open .burger__btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .burger__btn span:nth-child(2) {
    opacity: 0;
  }

  .header.open .burger__btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .nav-item {
    margin-top: 50px;
  }
}

/* #endregion */

/* #region about */
.about {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
}
h2 {
  color: #0c0c0e;
  font-family: var(--font-family-headers);
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 20px auto;
}

.about__description {
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}

/* slider desktop */
.carousel-container-dt {
  max-width: 1440px;
  min-height: 656px;
  padding: 0 20px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}

.track-dt {
  display: flex;
  transition: transform 0.7s;
  position: absolute;
  top: 0;
  left: 20px;
}

.card-container-dt {
  width: 475px;
  height: 560px;
  flex-shrink: 0;
  padding-right: 25px;
}

.card-dt {
  width: 100%;
  height: 100%;
}

/* pagination */

.slider-pagination-dt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 35px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-pagination-dt ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slider-pagination-dt ul li {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 5px;
  background: #000;
  cursor: pointer;
}

.slider-pagination-dt ul li.selected {
  background: #bb945f;
  border-color: #bb945f;
}

/* slider tablet */
.slider__container {
  display: none;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 36px;
  max-height: 560px;
  gap: 25px;
  padding: 0 20px;
}

.controls {
  display: none;
}

@media screen and (max-width: 1439px) {
  .carousel-container-dt {
    display: none;
  }

  .wrapper {
    position: relative;
  }

  .about__description {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* slider tablet */

  .slider__container {
    margin: 20px auto;
    display: block;
    width: 614px;
    height: 641px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
  }

  .carousel {
    overflow: hidden;
    max-width: 450px;
  }

  .slider {
    height: 100%;
    display: flex;
    width: 500%;
    transition: all 0.3s;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 0;
    transition: all 0.7s;
    gap: 0;
    padding: 0;
  }

  .about_photo {
    display: flex;
    flex-shrink: 1;
    padding-left: -5px;
  }

  .about_photo img {
    width: 100%;
  }

  .about_photo {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .carousel__item.selected1 {
    background: #000;
  }

  .controls {
    display: block;
  }

  .controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .arrow img {
    width: 24px;
    height: 24px;
  }

  .arrow.right {
    right: 0;
  }

  .arrow.left {
    left: 0;
  }

  .inactive_arrow {
    opacity: 0.4;
  }

  /* pagination */

  .slider-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 35px 0;
    position: absolute;
    bottom: 0;
  }

  .slider-pagination ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .slider-pagination ul li {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 5px;
    background: #000;
    cursor: pointer;
  }

  .slider-pagination ul li.selected {
    background: #bb945f;
    border-color: #bb945f;
  }
}

/* #endregion */
/* #region favorites */

.favorites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  max-width: 1440px;
  margin: 18px auto;
  margin-bottom: 60px;
  padding-top: 39px;
}

/* .hidden {
  display: none;
} */

h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.selection {
  padding: 19px 0 40px 20px;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1440px;
  box-sizing: border-box;
}

.selection__container {
  /* margin: 0 auto; */
  margin-top: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 90px;
}

.radio__button__container {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.radio__item {
  accent-color: #000000;
  width: 17px;
  height: 17px;
  margin: 5px;
  cursor: pointer;
}

.radio__item:first-child {
  margin-left: 0;
}

.season {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  padding-left: 17px;
  cursor: pointer;
}

input[type='radio']:checked + label {
  text-shadow: 1px 0px 0px black;
  transition: 0.3s text-shadow;
}

.books-carousel {
  position: relative;
}

.books-slider {
  max-width: 1440px;
  height: 1140px;
}
.season-slide {
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 220px;
  padding: 0 19px;
  justify-content: center;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: all 5s;
}

.season-slide.active {
  animation-name: fade;
  animation-duration: 5s;
  opacity: 1;
  z-index: 1;
  transition: opacity 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.season-slide:nth-child(1) {
  opacity: 1;
  z-index: 1;
}

.staff {
  font-family: var(--font-family-headers);
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 12px;
}

.staff:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
}

.book {
  max-width: 590px;
  max-height: 555px;
  display: flex;
  box-sizing: border-box;
}

.book__name {
  text-transform: uppercase;
}

.book__content__container {
  display: flex;
  max-width: 555px;

  flex-direction: column;
  border: 1px solid #000;
  background: #fff;
  flex-shrink: 1;
  box-sizing: border-box;
}

.book__content {
  width: 550px;
  height: 555px;
  padding-left: 20px;
  margin-left: -1px;
  flex-shrink: 1;
}

.book__description {
  display: block;
  width: 355px;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}

.small_space {
  letter-spacing: 1.5px;
}

.btn {
  color: #0c0c0e;
  font-family: var(--font-family-basic);
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 21px;
  background: #fff;
  margin-left: 18px;
}

.btn.active:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.btn.btn__own {
  border: 1px solid #bb945f;
  padding: 6px 19px;
  color: #bb945f;
}

.book__photo {
  position: relative;
  top: 254px;
  right: 160px;
  width: 200px;
  height: 300px;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    justify-content: flex-start;
  }

  .favorites {
    padding-top: 1px;
    margin-bottom: 39px;
  }

  .book {
    margin-bottom: 20px;
  }

  .books-slider {
    width: 590px;
    height: 2350px;
  }

  .season-slide {
    max-width: 590px;
    gap: 20px 10px;
    margin-bottom: 30px;
  }

  .season-slide:last-child {
    margin-bottom: 0;
  }

  .season {
    font-size: 16px;
  }

  .books-carousel {
    margin: 0 auto;
  }

  .parent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .selection {
    position: sticky;

    top: 0;
    z-index: 3;
  }
}

/* #endregion */
/* #region coffe shop */

.coffee__shop {
  max-width: 1440px;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 0 auto;
}

.shop__description {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.shop__description p {
  margin: 19px auto;
  padding: 0 18px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  box-sizing: border-box;
  /* text-transform: capitalize; */
}

.lowercase {
  text-transform: lowercase;
}

.menu {
  max-width: 1440px;
  margin: 0 auto;
  /* margin-top: 20px;
  margin-bottom: 60px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 22px 15px 38px 20px; */
  padding-left: 20px;
  /* box-sizing: border-box; */
}

.menu__list.deserts {
  padding-right: 5px;
}

.menu__title {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__title.deserts,
.menu__item.deserts {
  text-align: right;
}

.menu__item.deserts {
  margin-right: -3px;
}

.menu__title.deserts {
  padding-right: 5px;
}

.menu__item.deserts:last-child {
  margin-right: -5px;
}

.menu__container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.menu__item,
.menu__price {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.menu__price {
  padding-right: 5px;
}

.menu__item:last-child,
.menu__price:last-child {
  margin-bottom: 0;
}

.menu__price {
  font-family: var(--font-family-headers);
}

.menu__price:before {
  position: relative;
  top: 50%;
  width: 100px;
  content: '';
  display: inline-block;
  height: 1px;
  background: #0c0c0e;
  margin: 0 60px;
  vertical-align: middle;
}

/* #endregion */
/* #region contacts */

.contacts {
  max-width: 1440px;
  margin: 20px auto;
}

.contacts__container {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 20px 37px 20px;
}

.contact__title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__inquiries p,
.contact__staff p {
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
}

.contact__staff {
  margin-top: 40px;
}

.contact__staff p {
  padding-top: 0;
}

.contacts p a {
  text-decoration: none;
  color: #000;
}

.contacts p a:hover {
  color: #7d4802;
  text-decoration: underline;
}

.director {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.map {
  width: 100%;
}
/* #endregion */

/* #region digital-card */

.digital-card {
  max-width: 1440px;
  margin: 0 auto;
}

.digital-card__container {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  justify-content: space-between;
  /* gap: 344px; */
}

.digital-card__left-item {
  width: 600px;
  padding-top: 2px;
}

.left-item__title {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: center;
}

.library-card {
  width: 600px;
  height: 386px;
  margin-top: 30px;
  border: 3px solid #bb945f;
  box-sizing: border-box;
}

.inp__container {
  background: #bb945f;
  margin: 20px;
  padding: 15px 15px 6px 15px;
}

.left__title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  padding-left: 4px;
  padding-top: 3px;
}

.card__input {
  display: block;
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  margin: 22px auto;
  border-radius: 10px;
  width: 520px;
  height: 66px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
}

.check__card__btn {
  /* display: block; */
  margin: 0 auto;
  color: #0c0c0e;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 41px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  margin-top: -3px;
}

.check__card__btn:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
  transition: 0.2s;
}

.digital-card__right-block {
  width: 456px;
  text-align: right;
  padding-top: 2px;
}

.right__title {
  color: #000;
  margin-top: -3px;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  padding-bottom: 28px;
}

.digital-card__right-block p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4px;
  margin-bottom: 40px;
  padding-top: 2px;
}

.card__buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}

.right__card__button {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #fff;
}

.right__card__button:last-child {
  margin-left: 15px;
}
.right__card__button:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
  transition: 0.2s;
}

.card__details {
  display: flex;
  justify-content: center;
  gap: 35px;
  display: none;
}

.card__icon {
  width: 27px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .closed {
  display: none;
}

.open {
  display: block;
} */

.open-icons {
  display: flex;
}

/* #endregion */
/* #region footer */
.footer__container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background: #0c0c0e;
  color: #fff;
  margin-top: 21px;
}

.footer__top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.footer__top__icons ul {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  padding-bottom: 30px;
  list-style: none;
}

.footer__top__icons img:hover {
  opacity: 0.75;
}
.footer__top__top {
  display: flex;
  justify-content: space-between;
}
.footer__top__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.schedule {
  text-align: end;
  padding-top: 1px;
  padding-top: -2px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  margin: 35px 0 15px 0;
}

.school__name {
  margin-left: 145px;
}

.footer__bottom a,
.footer__top a {
  text-decoration: none;
  color: #fff;
}

.footer__bottom a:hover,
.footer__top a:hover {
  text-decoration: underline;
  color: rgb(222, 184, 135);
}

/* #endregion */

@media screen and (max-width: 1025px) {
  .coffee__shop {
    max-width: 768px;
    overflow: hidden;
    transition: 1s ease-in-out;
  }

  .wrapper,
  .favorites {
    max-width: 768px;
    transition: 1s ease-in-out;
  }

  .carousel-container-dt {
    display: none;
  }

  .wrapper {
    position: relative;
  }

  .about__description {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header.open .nav__list {
    right: 0;
    visibility: visible;
  }

  /* endregion favoritesM */

  .coffee-shop {
    margin-bottom: 60px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .menu__list.deserts {
    margin-top: 40px;
    align-self: flex-end;
  }

  .menu__item.deserts {
    margin-right: -3px;
  }

  .menu__title.deserts {
    padding-right: 5px;
  }

  .menu__list.deserts {
    padding-right: 15px;
  }

  .contacts {
    margin-top: 40px;
    padding-left: 3px;
    margin-bottom: 19px;
  }
  .contacts__container {
    flex-direction: column;
    gap: 100px;
    padding: 22px 20px 37px;
  }

  .contacts__map {
    max-width: 696px;
    align-self: center;
  }

  .contacts__map img {
    width: 100%;
  }

  .digital-card__container {
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
  }

  .check__card__btn {
    margin-top: -2px;
    letter-spacing: 1.6px;
    padding: 9px 35px;
    padding-left: 38px;
  }

  .card__buttons {
    justify-content: center;
    gap: 8px;
  }

  .digital-card__right-block {
    text-align: center;
    margin-top: 20px;
    width: 600px;
  }

  .digital-card__right-block p {
    text-align: center;
    padding-top: 8px;
    margin-bottom: 38px;
  }

  .school__name {
    margin-left: 90px;
  }
}
@media screen and (max-width: 768px) {
  .favorites {
    position: relative;
  }
}

@media screen and (max-width: 730px) {
  .selection__container {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.buy-form {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  /* transition: opacity 0.4s, visibility 0.4s; */
}

.buy-content {
  width: 640px;
  height: 540px;
  position: relative;
  background: #fff;
  transform: scale(0);
  transition: transform .8s;
}

.buy-form.open-form {
  visibility: visible;
  opacity: 1;
}

.buy-form.open-form .buy-content {
transform: scale(1);
}

.close-buy-form {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 2;
}



.buy-form-header {
  height: 60px;
  background: #0c0c0e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.buy-form-title {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: var(--font-family-headers);
  font-weight: 400;
}

.buy-colomns {
  display: flex;
  gap: 40px;
}

.buy-left {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.buy__label {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}

.buy-form input[name='bank'],
.buy-form input[name='place'],
.buy-form input[name='postal'],
.buy-form input[name='cardholder'] {
  display: block;
  border: 1px solid #bb945f;
  margin-bottom: 7px;
  width: 200px;
  height: 20px;
  margin-top: 10px;
}

.double-input {
  display: flex;
  gap: 10px;
}

.buy-form input[name='month'],
.buy-form input[name='year'],
.buy-form input[name='cvc'] {
  width: 45px;
  height: 20px;
  display: block;
  border: 1px solid #bb945f;
  margin-bottom: 8px;
  margin-top: 10px;
}

.buy-form input[name='cvc'] {
  margin-bottom: 23px;
}

.buy-right {
  width: 330px;
}

.buy-right-p {
  color: #8e8e8e;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.buy__card__price {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  margin-top: 15px;
}

.buy-card-btn {
  color: #0c0c0e;
  font-family: var(--font-family-basic);
  font-size: 10px;
  height: 30px;
  width: 75px;
  font-weight: 700;
  padding: 0;
  letter-spacing: 1px;

  border: 1px solid black;
  border-radius: 2px;

  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-card-btn.active:hover {
  background: #bb945f;
  color: #0c0c0e;
  border: 1px solid #bb945f;
  border-radius: 2px;
}

.buy-card-btn.btn__own {
  border: 1px solid #bb945f;
  padding: 6px 19px;
  color: #bb945f;
}

.buy__price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}