$color-dark: #0C0C0E;
$color-black: #000000;
$color-brand: #BB945F;
$color-white: #FFFFFF;
$color-grey: #8E8E8E;

$font-basic: 'Inter', sans-serif;
$font-headers: 'Forum', sans-serif;

$desktop-width: 1440px;
$desktop-small-width: 1424px;
$laptop-width: 1260px;
$tablet-width: 768px;
$mobile-big-width: 650px;
$mobile-medium-width: 492px;
$mobile-small-width: 320px;