.contacts {
  max-width: 1440px;
  margin: 20px auto;
}

.contacts__container {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 20px 37px 20px;
}

.contact__title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__inquiries p,
.contact__staff p {
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
}

.contact__staff {
  margin-top: 40px;
}

.contact__staff p {
  padding-top: 0;
}

.contacts p a {
  text-decoration: none;
  color: #000;
}

.contacts p a:hover {
  color: #7d4802;
  text-decoration: underline;
}

.director {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.map {
  width: 100%;
}