
.profile-form-modal {	
  position: relative; 
  background: $color-white;  
  padding: 20px 25px;
}

.profile-card-content {
	width: 600px;	
	background: $color-white;	
}

.profile__content {
	display: flex;	
}

.profile__sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 173px;	
	padding: 25px;
	gap: 15px;
	background: #0c0c0e;
  flex: 1;
}

.profile__initials {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $color-white;
  @include font(2rem, 1, 0rem, 400); 	
	text-transform: capitalize;
	color: $color-brand;
	margin-left: 8px;
}

.profile__card {
	display: flex;
	align-items: center;
	gap: 15px;
}

.profile__full-name {
	padding: 5px 15px;
  @include font(2rem, 1, 0rem, 400);	
	text-transform: capitalize;
	text-align: center;
	background-color: $color-white;
	margin-left: 8px;
	width: 120px;
}

.profile__info {
	width: 430px;	
	padding: 40px 21px;
	background-color: $color-white;
}

.profile__heading {
	margin-bottom: 40px;
	font-family: $font-headers;
  @include font(4rem, 0.5, 0.8rem, 400);	
	text-transform: uppercase;
}

.profile__list {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.profile__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.profile__name {
	color: $color-black;
	text-align: center;
	font-family: $font-basic;
  @include font(2rem, 1, 0.4rem, 400);	
	text-transform: capitalize;
}

.profile__quantity {
	color: $color-black;
	text-align: center;
	font-family: $font-basic;
  @include font(1rem, 2, 0.2rem, 400);
	text-transform: capitalize;
}

.profile__books-heading {
	margin-bottom: 30px;
  @include font(2.5rem, 0.8, 0rem, 400);
	color: $color-dark;	
}

.taken__book {
	color: $color-black;
	font-family: $font-basic;
  @include font(2rem, 1, 0.2rem, 400);	
	text-transform: capitalize;
	margin: 0;
	padding: 0;
}

.profile__books {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 380px;
	height: 50px;
  @include font(2rem, 1, 0.2rem, 400);
	margin-bottom: 40px;	
	letter-spacing: 2px;
	list-style: disc;
	overflow: auto;
	margin-left: 10px;
}

.profile__card-heading {
	color: $color-dark;
  @include font(2rem, 1, 0rem, 400);	
	font-style: normal;
}

.profile__number {
   @include font(2rem, 1, 0rem, 400);	
	color: $color-brand;	
}

.profile-modal__close-button {
	position: absolute;
	top: 21px;
	right: 19px;
}
