.popup-wrapper {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;  
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.notAuthUserDrop{
  width: 80px;
  height: 115px;
  background: $color-white;
  position: absolute;
  top: 87px;
  right: 79px;
  text-align: center;
  z-index: 20;
}